extends layout
block content
    .primary


        h2= data[0].name

        article

            p Contributed By #{data[0].by}


            p Category #{data[0].category}
            div.col-md-4(style="float:left; text-align:justify; font-size:large; width:550px;")
                .widget
                    label(for='Story Behind') Story Behind
                    h3 <br />#{data[0].story}

                form(method='post' action='/deleteRecord')

                    div.form-group
                        input#input_name(type="hidden", placeholder="", name="_id", value=data[0]._id.toHexString())

                        button.btn.btn-delete(type='delete') Delete
                form(method='post' action='/editRecord')
                    div.form-group
                        input#input_title(type="hidden", placeholder="", name="name", value=data[0].name)
                        input#input_Contributedby(type="hidden", placeholder="", name="by", value=data[0].by)
                        input#input_story(type="hidden", placeholder="", name="story", value=data[0].story)
                        input#input_instructions(type="hidden", placeholder="", name="instructions", value=data[0].instructions)

                        button.btn.btn-edit(type='submit') Edit


            div.col-md-4(style="float:right; white-space: pre-wrap; font-size:large; width:950px; ext-align:justify")
                .widget
                    label(for='Procedure') Procedure
                    h3 <br />#{data[0].instructions}


